/*
 *-----------------------------------------------------------------
	=================================================================
	Copyright [2021] [HCL America, Inc.]
	=================================================================
 *-----------------------------------------------------------------
 */

.mat-dialog-container {
	border-radius: 0px!important;
}
.mat-dialog-actions {
	justify-content: flex-end;
	flex-direction: row;
	
}
